<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Minhas receitas</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="tipoReceita">
      <ion-segment-button value="completas">
        Completas
      </ion-segment-button>
      <ion-segment-button value="incompletas">
        Incompletas
      </ion-segment-button>
      <ion-segment-button value="novo">
        Novo
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>    
    <div [ngSwitch]="tipoReceita">
      <ion-list *ngSwitchCase="'completas'" inset>
        <ion-item-sliding *ngFor="let receita of receitasCompletas">
          <ion-item>
            <h2>{{ receita.titulo }}</h2>
            <h3>{{ receita.descricao }}</h3>
          </ion-item>
          <ion-item-options side="right">
              <button ion-button color="tertiary" (click)="detalhes(receita.id, 'editar')">
                <ion-icon name="build"></ion-icon>
                Montar
              </button>
              <button ion-button color="quaternary" (click)="detalhes(receita.id, 'visualizar')">
                <ion-icon name="eye"></ion-icon>
                Detalhes
              </button>
              <button ion-button color="danger">
                <ion-icon name="trash"></ion-icon>
                Deletar
              </button>
            </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    
      <ion-list *ngSwitchCase="'incompletas'">
        <ion-list inset>
          <ion-item-sliding *ngFor="let receita of receitasIncompletas">
            <ion-item>
              <h2>{{ receita.titulo }}</h2>
              <h3>{{ receita.descricao }}</h3>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="tertiary" (click)="detalhes(receita.id, 'editar')">
                  <ion-icon name="build"></ion-icon>
                  Montar
                </button>
                <button ion-button color="quaternary" (click)="detalhes(receita.id, 'visualizar')">
                  <ion-icon name="eye"></ion-icon>
                  Detalhes
                </button>
                <button ion-button color="danger">
                  <ion-icon name="trash"></ion-icon>
                  Deletar
                </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-list>

      <ion-list *ngSwitchCase="'novo'" inset>
        <form [formGroup]="formGroup" (ngSubmit)="salvar()">
          <ion-item>
              <ion-label fixed>Título</ion-label>
              <ion-input type="text" formControlName="titulo"></ion-input>
            </ion-item>
            <p class="danger" 
            *ngIf="formGroup.controls.titulo.dirty && formGroup.controls.titulo.hasError('required')" 
            margin-left>A descrição é obrigatória.</p>
            <p class="danger" 
            *ngIf="formGroup.controls.titulo.dirty && formGroup.controls.titulo.hasError('minlength')" 
            margin-left>Digite ao menos 3 caracteres.</p>
            <p class="danger" 
            *ngIf="formGroup.controls.titulo.dirty && formGroup.controls.titulo.hasError('maxlength')" 
            margin-left>Digite até 20 caracteres.</p>
            
            <ion-item>
              <ion-label fixed>Descrição</ion-label>
              <ion-textarea rows="5" type="text" formControlName="descricao"></ion-textarea>
            </ion-item>
            <p class="danger" 
            *ngIf="formGroup.controls.descricao.dirty && formGroup.controls.descricao.hasError('required')" 
            margin-left>A descrição é obrigatória.</p>
            <p class="danger" 
            *ngIf="formGroup.controls.descricao.dirty && formGroup.controls.descricao.hasError('minlength')" 
            margin-left>Digite ao menos 3 caracteres.</p>
            <p class="danger" 
            *ngIf="formGroup.controls.descricao.dirty && formGroup.controls.descricao.hasError('maxlength')" 
            margin-left>Digite até 50 caracteres.</p>
  
            <ion-item>
                <button ion-button full color="tertiary" type="submit">Enviar</button>
            </ion-item>
        </form>
      </ion-list>
    </div>
</ion-content>
