page-pesquisar-receita {

    .ion-tags-input .iti-tag-color{
        background-color: rgba(92, 3, 144, 0.953) !important;
    }

    .list-header-md{
        color:rgba(92, 3, 144, 0.953) !important;
    }

    .ion-tags-input.active {
        border-bottom-color: rgba(92, 3, 144, 0.953) !important;
    }

    .ion-tags-input .iti-input {
        color: rgba(92, 3, 144, 0.953) !important;
    }
}
