page-detalhes-receitas {
    .alinhar-botao {
        margin-right: 5%;
        color: #ffff;  
    }
    .card-md {
        background-color: #ffff;
    }
    .item-md {
        background-color: #ffff;
    }
}
